# IDE
.idea/
.vscode/

# Local env
.env

# Runtime
runtime/

# Local dashboard unpacked files
resources/dashboard/dist/

# Keep packaged dashboard asset
!resources/dashboard/dist.zip

# Local test scripts
test.sh
