[Unit]
Description=Clash for Linux (Mihomo)
Documentation=https://github.com/wnlen/clash-for-linux
After=network-online.target nss-lookup.target
Wants=network-online.target
StartLimitIntervalSec=0
StartLimitBurst=10

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/clash-for-linux
Environment=HOME=/root

ExecStart=/bin/bash /opt/clash-for-linux/clashctl start
ExecStop=/bin/bash /opt/clash-for-linux/clashctl --from-systemd stop

Restart=always
RestartSec=5s

KillMode=mixed
TimeoutStartSec=120
TimeoutStopSec=30

StandardOutput=journal
StandardError=journal

UMask=0022
NoNewPrivileges=false

[Install]
WantedBy=multi-user.target